<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" [(ngModel)]="type" value="ASC" color="turbored" scrollable>
    <ion-segment-button value="Customer Support Engineer">
      <ion-label  style="text-transform: none;">Customer Support</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Contact">
      <ion-label  style="text-transform: none;">Contact</ion-label>
    </ion-segment-button>
  </ion-segment>



  <div [ngSwitch]="type" style="font-size: small;">
    <div *ngSwitchCase="'Customer Support Engineer'">
      <div class="p-2">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ng-select [items]="stateListJson" class="ngSelectFontSize" bindValue="state" [(ngModel)]="stateModel" (change)="getCityList($event)" bindLabel="state" [searchable]="true" #selectState
                (close)="selectState.blur(); selectState.focus()" placeholder="State" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="6">
              <ng-select [items]="getCityJson" bindLabel="city" bindValue="city" [(ngModel)]="cityModel"  [searchable]="true" #selectCity (close)="selectCity.blur(); selectCity.focus()"
                placeholder="City" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="12"  class="ion-text-center" (click)="getContactList()">
              <ion-button size="small" color="turboblue">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div *ngIf ="isContactList">
        <div class="divCenter" *ngIf="getContactJson  as result" >
          <ion-text color="primary" *ngIf="result.length === 0">
            No Details Found
          </ion-text>
        </div>
      </div>
        <div class="table-responsive p-1" *ngIf="getContactJson.length >0"  >
          <table class="table table-striped">
            <thead>
              <tr class="tblHead">
                <th class="ion-text-center">S.No</th>
                <th class="ion-text-center ion-text-nowrap">Name</th>
                <th class="ion-text-center ion-text-nowrap">City</th>
                <th class="ion-text-center">Mobile No</th>
                <th class="ion-text-center">Email</th>
              </tr>
            </thead>
            <tbody>
    
              <tr *ngFor="let a of getContactJson ;let i=index">
                <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.name}}</td>
                <td class="ion-text-center ion-text-nowrap"> {{a.city}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.contactno}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div *ngSwitchCase="'Contact'">
      <div class="p-2">
        <form [formGroup]="feedbackForm" novalidate>

          <div class="form-group pb-2">
            <label for="subject">Contact Type   <span class="text-danger">*</span></label>
            <ng-select [items]="ContactTypeArr"  [(ngModel)]="contacttype"  [searchable]="false" #selectContactType formControlName="contactType"
              (close)="selectContactType.blur(); selectContactType.focus()" placeholder="Contact Type"
              dropdownPosition="bottom">
            </ng-select>

            <div class="errorMsg"
              *ngIf="feedbackForm.controls.contactType.touched && feedbackForm.controls.contactType.errors?.required">
              * Required
            </div>


          </div>

          <div class="form-group pb-2">
            <label for="subject">Subject <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="subject" [(ngModel)]="subject" formControlName="subject" placeholder="Enter Subject">
            <div class="errorMsg"
              *ngIf="feedbackForm.controls.subject.touched && feedbackForm.controls.subject.errors?.required">
              * Required
            </div>

          </div>

          <div class="form-group pb-2">
            <label for="message">Message <span class="text-danger">*</span></label>
            <textarea cols="10" rows="5"  [(ngModel)]="message"class="form-control" formControlName="message"
              placeholder="Enter your message"></textarea>
          </div>
          <div class="errorMsg"
            *ngIf="feedbackForm.controls.message.touched && feedbackForm.controls.message.errors?.required">
            * Required
          </div>
<!-- 
          <ion-grid class="ion-no-padding pt-2">
            <ion-row>
              <ion-col size="4">Attach File</ion-col>
              <ion-col size="6">
                <ion-button size="small" color="turboblue" shape="round">Upload</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid> -->


          <div class="ion-text-center pt-2">
            <ion-button expand="full" mode="md" color="turboblue" (click)="onFormSubmit()">Submit</ion-button>
          </div>

        </form>


      </div>
    </div>


  </div>



</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>
