<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form [formGroup]="editProfileForm">
  <div class="pt-3 px-3">


    <div class="pt-2">
      <ion-label> MobileNo </ion-label>
      <div>
        <ion-input readonly  >{{mobileno}}</ion-input>
      </div> 
    </div>
    <div class="pt-1">
      <ion-label> User Type </ion-label>
      <div>
        <ion-input readonly >{{usertype}}</ion-input>
      </div> 
    </div>
    <div>
      <ion-label>Enter Username  <span class="text-danger"> *</span></ion-label>
      <div class="pt-2">
        <ion-input formControlName="name" class="form-control px-2 " ></ion-input>
      </div>
      <div *ngIf="editProfileForm.get('name').hasError('required') && editProfileForm.get('name').touched">
     <span class="text-danger">* Required</span>
      </div>
    </div>

    <div class="pt-2">
      <ion-label>Enter Email  <span class="text-danger"> *</span></ion-label>
      <div class="pt-2">
        <ion-input formControlName="email" class="form-control px-2 "></ion-input>
      </div>
      <div *ngIf="editProfileForm.get('email').hasError('required') && editProfileForm.get('email').touched">
        <span class="text-danger">* Required</span>
         </div>
         <div *ngIf="editProfileForm.get('email').hasError('pattern') && editProfileForm.get('email').touched">
          <span class="text-danger">* Required</span>
           </div>
    </div>

    <div>
      <ion-label>Enter State  <span class="text-danger"> *</span></ion-label>
      <div class="pt-2">
        <ion-input formControlName="state" class="form-control px-2 "></ion-input>
      </div>
      <div *ngIf="editProfileForm.get('state').hasError('required') && editProfileForm.get('state').touched">
     <span class="text-danger">* Required</span>
      </div>
    </div>
   

    <div>
      <ion-label>Enter City  <span class="text-danger"> *</span></ion-label>
      <div class="pt-2">
        <ion-input formControlName="city" class="form-control px-2 "></ion-input>
      </div>
      <div *ngIf="editProfileForm.get('city').hasError('required') && editProfileForm.get('city').touched">
     <span class="text-danger">* Required</span>
      </div>
    </div>

  </div>

  <div class="ion-text-center pt-2">
  <ion-button [disabled]="!editProfileForm.valid" size="small"  (click)="update(editProfileForm.value)" shape="round" color="turboblue"> Update</ion-button>
  </div>
</form>
</ion-content>