<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/segmentmake"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Application</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="px-2 pt-1">
    <ion-text color="danger" class="headertext segmentMakeJson labelsize">
      {{segmentName}}
    </ion-text> >
    <ion-text color="danger" class="headertext segmentMakeJson labelsize">
      {{subSegmentName}}
    </ion-text> >
    <ion-text color="danger" class="headertext segmentMakeJson labelsize">
      {{makeName}}
    </ion-text>
  </div>


  <div class="table-responsive pt-3 px-2" *ngIf="isSegmentTable">
    <table class="table table-striped" style="font-size: 14px;">
      <thead>
        <tr style="background-color: #00589c;color: white;">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of segmentApplicationJson ;let i=index">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">



            <span *ngIf="a.oldpartno">
              <u class="text-danger" (click)="gotoSegmentPartDetails(a)">
                {{a.oldpartno}}
              </u> /<br></span>
            <span *ngIf="a.newpartno">
              <u class="text-danger" (click)="gotoSegmentPartDetails(a)">{{a.newpartno}}</u>
            </span>


          </td>

          <td class="ion-text-center ion-text-nowrap">

            <div *ngIf="a.oempartno ;else noengine">
              {{a.oempartno}}
            </div>

            <ng-template #noengine>
              N/A
            </ng-template>
          </td>

          <!-- <td class="ion-text-center ion-text-nowrap">{{a.oempartno}}


          </td> -->
          <td class="ion-text-center ion-text-nowrap">

            <div *ngIf="a.engine ;else elseSegment">
              {{a.engine}}
            </div>

            <ng-template #elseSegment>
              N/A
            </ng-template>
          </td>
          <td class="ion-text-center ion-text-nowrap">


            <div *ngIf="a.engine ;else elseSegmentApp">
              {{a.application}}
            </div>

            <ng-template #elseSegmentApp>
              N/A
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>

</ion-footer>