<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/makeapplication"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Part  Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-segment mode="md" [(ngModel)]="type" value="ASC" color="turbored" scrollable style="font-size: small;">
    <ion-segment-button value="Specification" style="font-size: small;">
      <ion-label>Specification</ion-label>
    </ion-segment-button>
  
    <ion-segment-button value="Suit" style="font-size: small;">
      <ion-label>Suit These <br>Model</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="pt-2 px-4" [ngSwitch]="type" value="ASC" style="font-size: small;">
          
    <div *ngSwitchCase="'Specification'">

      <div class="px-1 pt-2">
        <ion-text color="turboblue" ><b>PART DETAILS</b> </ion-text>
      </div>
      <div class=" px-2">
          <ion-card mode="md" style="background-color: #EEF4F5; ">
           
            <ion-grid style="font-size: small;">
              <ion-row *ngIf="getMakeName">
                <ion-col size="5.5">OEM Name</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{getMakeName}}</ion-col>
              </ion-row>
              <ion-row *ngIf="getOldPartNo">
                <ion-col size="5.5">Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{getOldPartNo}}</ion-col>
              </ion-row>
              <ion-row *ngIf="getNewPartNo">
                <ion-col size="5.5">New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{getNewPartNo}}</ion-col>
              </ion-row>
              <ion-row *ngIf="getOemPartNo">
                <ion-col size="5.5">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{getOemPartNo}}</ion-col>
              </ion-row>
              <ion-row *ngIf="getEngineName">
                <ion-col size="5.5">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{getEngineName}}</ion-col>
              </ion-row>
              <ion-row *ngIf="getApplication">
                <ion-col size="5.5">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{getApplication}}</ion-col>
              </ion-row>
            </ion-grid>

          </ion-card>
      </div>
   


      <div class="px-1 pt-1" >
        <ion-text color="turboblue" ><b>KIT DETAILS</b> </ion-text>
      </div>
      <div class=" px-2">
          <ion-card mode="md" style="background-color: #EEF4F5;">
           
            <ion-grid *ngFor="let a of applicationPartDetailsJson">

              <ion-row *ngIf ="a.overhaulkitoldpartno">
                <ion-col size="5.5">Overhaul Kit Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.overhaulkitoldpartno}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.overhaulkit">
                <ion-col size="5.5">Overhaul Kit</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.overhaulkit}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.BlackPlateOldPartNo">
                <ion-col size="5.5">Back Plate Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.BlackPlateOldPartNo}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.BlackPlateNewPartNo">
                <ion-col size="5.5">Back Plate New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.BlackPlateNewPartNo}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.secondarykitoldpartno">
                <ion-col size="5.5">Secondary Kit Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.secondarykitoldpartno}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.secondarykitnewpartno">
                <ion-col size="5.5">Secondary Kit New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.secondarykitnewpartno}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.gaskitOldPartNo">
                <ion-col size="5.5">Gasket Kit old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.gaskitOldPartNo}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.gaskitNewPartNo">
                <ion-col size="5.5">Gasket Kit New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{a.gaskitNewPartNo}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.mrp">
                <ion-col size="5.5">MRP</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">₹{{a.mrp | number :'1.0-0'}}</ion-col>
              </ion-row>

              <ion-row *ngIf ="a.listprice">
                <ion-col size="5.5">Sale Price</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">₹{{a.listprice}}</ion-col>
              </ion-row>
                 <ion-row *ngIf="a.Image"> 
                     <ion-col size="12" class="ion-text-center"  >
              <img [src]= "a.Image" height="50px" (click)="openPreview(a.Image)">
            </ion-col>
                 </ion-row>
          
            </ion-grid>

          </ion-card>
      </div>
  </div>



  <div *ngSwitchCase="'Suit'">
    <div class="divCenter">
      <ion-text color="primary">
        No Details Found
      </ion-text>
    </div>
      
 </div>

</div>

  
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>