<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="p-2 pt-2" *ngFor ="let a of getNotificationJson">
    <mat-accordion >
      <mat-expansion-panel hideToggle #xyz expanded="false" >
        <mat-expansion-panel-header class="panelheader">
          <mat-panel-title class="titlestyle" color="primary">{{a.title}}</mat-panel-title>
          <i *ngIf="!xyz.expanded" class="fa fa-chevron-down arrowblue"  aria-hidden="true"></i>
          <i *ngIf="xyz.expanded" class="fa fa-chevron-up arrowblue"  aria-hidden="true"></i>
        </mat-expansion-panel-header>
        <div class="pt-1">
          <p class="pt-2 pl-3">
           {{a.description}}
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</ion-content>



<ion-footer>
  <app-footer></app-footer>

</ion-footer>