<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/remanmake"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title> Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-2 pt-2 text-center">
    <ion-text color="danger" class="headertext labelsize">
      {{getMake }}
    </ion-text>
  </div>

  <div class="divCenter" *ngIf="makeListJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>


  <div class="table-responsive p-1 pt-2" style="font-size: 14px;" *ngIf="isMakeTable">
    <table class="table table-striped ">
      <thead>
        <tr style="background-color: #00589c;color: white;">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>
          <th class="ion-text-center" *ngIf="isSalesPrice">Sale Price</th>
          <th class="ion-text-center">Mrp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of makeListJson ;let i= index ">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.tca_oldpartno">
              {{a.tca_oldpartno}}
              /
              <br>
            </span>
            <span *ngIf="a.tca_newpartno">
              {{a.tca_newpartno}}
            </span>

          </td>

          <td class="ion-text-wrap">

            <div *ngIf="a.oem_partnumber ;else oempartno">
              {{a.oem_partnumber}}
            </div>

            <ng-template #oempartno>
              N/A
            </ng-template>
          </td>

          <td class="ion-text-nowrap">

            <span *ngIf="a.engine">
              {{a.engine}}
            </span>
          </td>
          <td class=" ion-text-wrap">
            <div *ngIf="a.engine ;else elseApplication">
              {{a.application}}
            </div>

            <ng-template #elseApplication>
              N/A
            </ng-template>

          </td>


          <td class="ion-text-center ion-text-nowrap" *ngIf="isSalesPrice">
            <span *ngIf="a.listprice">
              ₹ {{a.listprice | number: '1.0-0'}}
            </span>
          </td>
          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.mrp">
              ₹ {{a.mrp | number :'1.0-0'}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- 
  <ion-list mode="md" lines="full"  >
    <ion-item *ngFor="let m of makeListJson" (click)="gotoremanSubSegment(m)">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>

      <ion-label class="labelsize ion-text-wrap">{{m.segment}}</ion-label>
    </ion-item>
  </ion-list> -->


</ion-content>

<ion-footer>
  <app-footer></app-footer>

</ion-footer>