<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
 <ion-title>Login</ion-title>
 <ion-buttons slot="end" (click)="close()">
  <ion-icon  slot="icon-only" name="close-circle-outline"></ion-icon>
 </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pt-3 px-3">
    <form [formGroup]="loginForm" novalidate>
      <div class="form-group">
        <label for="username"
          >Username <span class="text-danger">*</span></label
        >
        <div class="pt-2">
        <input
          type="text"
          class="form-control px-2"
          id="username"
          formControlName="username"
          placeholder="Enter Username"
        />
      </div>
        <div
          class="text-danger"
          *ngIf="
            loginForm.controls.username.touched &&
            loginForm.controls.username.errors?.required
          "
        >
          * Required
        </div>
      </div>

      <div class="form-group pt-2">
        <label for="password"
          >Password <span class="text-danger">*</span></label
        >
        <div class="pt-2">
        <input
          type="password"
          class="form-control px-2"
          id="password"
          formControlName="password"
          placeholder="Enter Password"
        />
      </div>
        <div
          class="text-danger"
          *ngIf="
            loginForm.controls.password.touched &&
            loginForm.controls.password.errors?.required
          "
        >
          * Required
        </div>
      </div>

      <div class="pt-2">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="ion-text-end">
              <div class="ion-text-end">
                <ion-button size="small" color="turboblue" (click)="forgotpassword()"
                  >Forgot Password</ion-button
                >
              </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <div class="ion-text-left">
                <ion-button
                  (click)="onFormSubmit(loginForm.value)"
                  size="small"
                  color="turboblue"
                  >Login</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </form>
  </div>
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>