<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/searchkitno"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Part Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment mode="md" [(ngModel)]="type" value="ASC" color="turbored" scrollable style="font-size: small;">
    <ion-segment-button value="Specification" style="font-size: small;">
      <ion-label>Specification</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Suit" style="font-size: small;" *ngIf="isServiceInformation">
      <ion-label>Service <br>Information</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="pt-2" [ngSwitch]="type" value="ASC" style="font-size: small;">

    <div *ngSwitchCase="'Specification'">

      <div class="px-1 pt-2">
        <ion-text color="turboblue"><b>PART DETAILS</b> </ion-text>
      </div>
      <div class="">
        <ion-card mode="md" style="background-color: #EEF4F5; ">

          <ion-grid style="font-size: small;">
            <ion-row *ngIf="getMakeName">
              <ion-col size="5.5">OEM Name</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="getMakeName ; else oemname">{{getMakeName}}</ion-col>
              <ng-template #oemname>
                N/A
              </ng-template>
            </ion-row>
            <ion-row *ngIf="getOldPartNo">
              <ion-col size="5.5">Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="getOldPartNo ; else oldPartNo">{{getOldPartNo}}</ion-col>
              <ng-template #oldPartNo>
                N/A
              </ng-template>
            </ion-row>
            <ion-row *ngIf="getNewPartNo">
              <ion-col size="5.5">New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="getNewPartNo ; else newPartNo">{{getNewPartNo}}</ion-col>
              <ng-template #newPartNo>
                N/A
              </ng-template>
            </ion-row>
            <ion-row *ngIf="getOemPartNo">
              <ion-col size="5.5">OEM Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="getOemPartNo ; else oemPartNo">{{getOemPartNo}}</ion-col>
              <ng-template #oemPartNo>
                N/A
              </ng-template>

            </ion-row>
            <ion-row *ngIf="getEngineName">
              <ion-col size="5.5">Engine</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="getEngineName ; else enginename">{{getEngineName}}</ion-col>
              <ng-template #enginename>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="getApplication">
              <ion-col size="5.5">Application</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="getApplication ; else application">{{getApplication}}</ion-col>
              <ng-template #application>
                N/A
              </ng-template>
            </ion-row>
          </ion-grid>

        </ion-card>
      </div>



      <div class="ps-2 pt-1" *ngIf="isKitDetails">
        <ion-text color="turboblue"><b>KIT DETAILS</b> </ion-text>
      </div>
      <div *ngIf="isKitDetails">
        <ion-card mode="md" style="background-color: #EEF4F5;">

          <ion-grid *ngIf="applicationPartDetailsJson.length === 0">

            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Core Assembly Kit Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>

            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Core Assembly Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>


            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Central Housing Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>


            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Central Housing New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>


            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Compressor Wheel old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>


            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Compressor Wheel New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>


            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Actuator Assembly Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>

            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Actuator Assembly New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>



            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Turbine wheel Assembly Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>

            <ion-row *ngIf="isTel">
              <ion-col size="5.5">Turbine wheel Assembly New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5">N/A</ion-col>

            </ion-row>


            <ion-row>
              <ion-col size="5.5">Overhaul Kit Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>

            </ion-row>

            <ion-row>
              <ion-col size="5.5">Overhaul Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5.5">Back Plate Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5.5">Back Plate New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5.5">Secondary Kit Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5.5">Secondary Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5.5">Gasket Kit old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5.5">Gasket Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5"> N/A</ion-col>
            </ion-row>


          </ion-grid>

          <ion-grid *ngFor="let a of applicationPartDetailsJson">

            <ion-row *ngIf="isTel && a.coreassemblykit_oldpartno">
              <ion-col size="5.5">Core Assembly Kit Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.coreassemblykit_oldpartno ; else coreold">{{a.coreassemblykit_oldpartno}}
              </ion-col>
              <ng-template #coreold>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="isTel && a.coreassemblykit_newpartno">
              <ion-col size="5.5">Core Assembly Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.coreassemblykit_newpartno ; else corenew">{{a.coreassemblykit_newpartno}}
              </ion-col>
              <ng-template #corenew>
                N/A
              </ng-template>
            </ion-row>


            <ion-row *ngIf="isTel && a.centralhousing_oldpartno">
              <ion-col size="5.5">Central Housing Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.centralhousing_oldpartno ; else centralold">{{a.centralhousing_oldpartno}}
              </ion-col>
              <ng-template #centralold>
                N/A
              </ng-template>
            </ion-row>


            <ion-row *ngIf="isTel && a.centralhousing_newpartno">
              <ion-col size="5.5">Central Housing New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.centralhousing_newpartno ; else centalnew">{{a.centralhousing_newpartno}}
              </ion-col>
              <ng-template #centalnew>
                N/A
              </ng-template>
            </ion-row>


            <ion-row *ngIf="isTel && a.compressorwheel_oldpartno">
              <ion-col size="5.5">Compressor Wheel old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.compressorwheel_oldpartno ; else comold">{{a.compressorwheel_oldpartno}}
              </ion-col>
              <ng-template #comold>
                N/A
              </ng-template>
            </ion-row>


            <ion-row *ngIf="isTel && a.compressorwheel_newpartno">
              <ion-col size="5.5">Compressor Wheel New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.compressorwheel_newpartno ; else comnew">{{a.compressorwheel_newpartno}}
              </ion-col>
              <ng-template #comnew>
                N/A
              </ng-template>
            </ion-row>


            <ion-row *ngIf="isTel && a.actuatorassembly_oldpartno">
              <ion-col size="5.5">Actuator Assembly Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.actuatorassembly_oldpartno ; else actold">{{a.actuatorassembly_oldpartno}}
              </ion-col>
              <ng-template #actold>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="isTel && a.actuatorassembly_newpartno">
              <ion-col size="5.5">Actuator Assembly New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.actuatorassembly_newpartno ; else actnew">{{a.actuatorassembly_newpartno}}
              </ion-col>
              <ng-template #actnew>
                N/A
              </ng-template>
            </ion-row>



            <ion-row *ngIf="isTel && a.turbinewheel_oldpartno">
              <ion-col size="5.5">Turbine wheel Assembly Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.turbinewheel_oldpartno ; else turbold">{{a.turbinewheel_oldpartno}}</ion-col>
              <ng-template #turbold>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="isTel && a.turbinewheel_newpartno">
              <ion-col size="5.5">Turbine wheel Assembly New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.turbinewheel_newpartno ; else turnew">{{a.turbinewheel_newpartno}}</ion-col>
              <ng-template #turnew>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="a.overhaulkitoldpartno">
              <ion-col size="5.5">Overhaul Kit Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.overhaulkitoldpartno ; else overold">{{a.overhaulkitoldpartno}}</ion-col>
              <ng-template #overold>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="a.overhaulkit">
              <ion-col size="5.5">Overhaul Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.overhaulkit ; else overnew">{{a.overhaulkit}}</ion-col>
              <ng-template #overnew>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="a.BlackPlateOldPartNo">
              <ion-col size="5.5">Back Plate Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.BlackPlateOldPartNo ; else backold">{{a.BlackPlateOldPartNo}}</ion-col>
              <ng-template #backold>
                N/A
              </ng-template>

            </ion-row>

            <ion-row *ngIf="a.BlackPlateNewPartNo">
              <ion-col size="5.5">Back Plate New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.BlackPlateNewPartNo ; else backnew">{{a.BlackPlateNewPartNo}}</ion-col>
              <ng-template #backnew>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="a.secondarykitoldpartno">
              <ion-col size="5.5">Secondary Kit Old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.secondarykitoldpartno ; else secold">{{a.secondarykitoldpartno}}</ion-col>
              <ng-template #secold>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="a.secondarykitnewpartno">
              <ion-col size="5.5">Secondary Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.secondarykitnewpartno ; else secnew">{{a.secondarykitnewpartno}}</ion-col>
              <ng-template #secnew>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="a.gasket_oldpartno">
              <ion-col size="5.5">Gasket Kit old Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.gasket_oldpartno ; else gasold">{{a.gasket_oldpartno}}</ion-col>
              <ng-template #gasold>
                N/A
              </ng-template>
            </ion-row>

            <ion-row *ngIf="a.gasket_newpartno">
              <ion-col size="5.5">Gasket Kit New Part No</ion-col>
              <ion-col size="1">:</ion-col>
              <ion-col size="5.5" *ngIf="a.gasket_newpartno ; else gasnew">{{a.gasket_newpartno}}</ion-col>
              <ng-template #gasnew>
                N/A
              </ng-template>
            </ion-row>


            <ion-row *ngIf="a.Image !== 'https://productcatalog.turboenergy.co.in/Files/'">
              <ion-col size="12" class="ion-text-center"
                *ngIf="a.Image !== 'https://productcatalog.turboenergy.co.in/Files/noimage.jpg'">
                <img [src]="a.Image" height="50px" (click)="openPreview(a.Image)">
              </ion-col>
            </ion-row>

          </ion-grid>

        </ion-card>
      </div>
    </div>



    <div *ngSwitchCase="'Suit'">
      <div>
        <div class=" px-2">
          <ion-card mode="md" style="background-color: #EEF4F5; ">

            <ion-grid style="font-size: small;" *ngFor="let a of applicationPartDetailsJson">
              <ion-row *ngIf="a.alpha">
                <ion-col size="5.5">Alpha </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5" *ngIf="a.alpha ; else noalpha">{{a.alpha}}</ion-col>
                <ng-template #noalpha>N/A</ng-template>
              </ion-row>
              <ion-row *ngIf="a.beta">
                <ion-col size="5.5">Beta </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5" *ngIf='a.beta ; else nobeta'>{{a.beta}}</ion-col>
                <ng-template #nobeta>N/A</ng-template>
              </ion-row>
              <ion-row *ngIf="a.stroking_pressure">
                <ion-col size="5.5">Storking Pressure </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5" *ngIf='a.stroking_pressure ; else npre'>{{a.stroking_pressure}}</ion-col>
                <ng-template #npre>N/A</ng-template>
              </ion-row>
              <ion-row *ngIf="a.setting_pressure">
                <ion-col size="5.5">Setting Pressure</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5" *ngIf="a.setting_pressure ; else nopress">{{a.setting_pressure}}</ion-col>
                <ng-template #nopress>N/A</ng-template>
              </ion-row>
              <ion-row *ngIf="a.lift">
                <ion-col size="5.5">Lift</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5" *ngIf='a.lift ; else nolift'>{{a.lift}}</ion-col>
                <ng-template #nolift>N/A</ng-template>
              </ion-row>

            </ion-grid>

          </ion-card>
        </div>

      </div>

    </div>

  </div>


</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>