<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="px-2 pt-2">
    <ion-text color="danger" class="headertext labelsize">
      {{oemName}}
    </ion-text> >
    <ion-text color="danger" class="headertext labelsize">
      {{getApplicationName}}
    </ion-text> 
  
  </div>

  <div class="pt-2">
  
  <div class="table-responsive p-1" style="font-size: 14px;" *ngIf="isApplicationtable">
    <table class="table table-striped">
      <thead>
        <tr style="background-color: #00589c;color: white;" >
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
         
          <th class="ion-text-center">Engine</th>
          <!-- <th class="ion-text-center">MRP</th> -->
          <!-- <th class="ion-text-center ion-text-nowrap">Sale Price</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let a of applicationListJson ; let i=index">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.oldpartno ; else oldPartNo" > <u class="text-danger"  (click)="gotoSegmentPartDetails(a)" >{{a.oldpartno}}</u> /<br>
           
            </span>  
            <ng-template #oldPartNo ><span class="text-danger">  N/A<br></span>
            
           </ng-template>
            <u class="text-danger"  (click)="gotoSegmentPartDetails(a)" > {{a.newpartno}}</u>
          </td>
          
          <td class="ion-text-center ion-text-nowrap">
          <div *ngIf ="a.oempartno ; else oem">
            {{a.oempartno}}
          </div>
          <ng-template #oem>N/A</ng-template>
          </td>

          

          <td class="ion-text-center ion-text-nowrap" >{{a.engine}}
           <div *ngIf ="a.engine ; else elseengine" >

           </div>
           <ng-template #elseengine>
            N/A
          </ng-template>
          </td>

          <!-- <td class="ion-text-center ion-text-nowrap" >
            <div *ngIf="a.mrp ;else elseMRP">
              ₹ {{a.mrp}}
            </div>
            <ng-template #elseMRP>
              N/A
            </ng-template>
          
          </td> -->
       
          <!-- <td class="ion-text-center ion-text-nowrap"  >

            <div *ngIf="a.salesprice ;else elseSalesprice">
              ₹{{a.salesprice}}
            </div>
            <ng-template #elseSalesprice>
              N/A
            </ng-template>
          </td> -->
         
        </tr>
      
        
  
      </tbody>
      
    </table>
  </div>
</div>
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>