<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/segmentsubsegment"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Make</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-2 pt-1" >
    <ion-text color="danger" class="labelsize">
     {{ segmentName}}
    </ion-text> >
    <ion-text color="danger" class="labelsize">
     {{  subSegment}}
    </ion-text>
  </div>
  <div class="divCenter" *ngIf="segmentMakeJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>

  <ion-searchbar mode="ios" [(ngModel)]="ngSearchTerm" placeholder="Search"></ion-searchbar>

  <ion-list mode="md" lines="full" >
    <ion-item *ngFor="let m of segmentMakeJson| filter : ngSearchTerm;"  (click)="gotoSegmentApplication(m.make)">
      <i class="fa fa-chevron-right arrowcolor" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap">{{m.make}}</ion-label>
    </ion-item>
    <!-- <div class="datacenter" *ngIf="(segmentMakeJson |filter:ngSearchTerm) as result">
      <ion-text color="turboblue" *ngIf="result.length === 0">No Data Found</ion-text>
  </div> -->
  </ion-list>
</ion-content> 

<ion-footer>
  <app-footer></app-footer>

</ion-footer>