<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Product Catalogue</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list mode="md" lines="full" style="font-size: 10px;">
    <ion-item routerLink="/make">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap">OEM</ion-label>
    </ion-item>

    <ion-item routerLink="/segment">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap ">Segment</ion-label>
    </ion-item>

    <ion-item routerLink="/applicationoem">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap ">Application</ion-label>
    </ion-item>

    <!-- <ion-item routerLink="/remanmake">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap ">Reman</ion-label>
    </ion-item>
    
    <ion-item routerLink="/allmakeoemname">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap ">All Make</ion-label>
    </ion-item> -->

  </ion-list>
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>