<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="divCenter" *ngIf="applicationJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>



  <div class="px-2 pt-2 text-center">
    <ion-text color="danger" class="headertext labelsize">
    {{getOemName }}
    </ion-text>
  </div>


  
  <!-- <ion-searchbar mode="ios" [(ngModel)]="ngSearchTerm" placeholder="Search"></ion-searchbar> -->
  <ion-list mode="md" lines="full" style="font-size: 14px;">
    <ion-item *ngFor="let a of applicationJson;" (click)="gotoEngineSpecs(a.application)"  >
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label style="font-size: 14px;">{{a.application}}</ion-label>
    </ion-item>
    <!-- <div class="datacenter" *ngIf="(applicationJson |filter:ngSearchTerm) as result">
      <ion-text color="turboblue" *ngIf="result.length === 0">No Data Found</ion-text>
  </div> -->
  </ion-list>
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>