<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/makesegment"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>SubSegment</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="px-2 pt-1">
    <ion-text color="danger" class="headertext labelsize">
     {{ getMakeName}}
    </ion-text> >
    <ion-text color="danger" class="headertext labelsize">
     {{  getSegmentName}}
    </ion-text>
  </div>

  <div class="divCenter" *ngIf="subSegmentListJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>

  <ion-list mode="md" lines="full" style="font-size: 10px;">
    <ion-item *ngFor="let s of subSegmentListJson"  (click)="gettoApplication(s.subsegment)">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label  class="labelsize ion-text-wrap">{{s.subsegment}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <app-footer></app-footer>

</ion-footer>