<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>What's New</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="divCenter" *ngIf="makeListJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>

  
  <div class="table-responsive p-1" style="font-size: small;" *ngIf="isWhatsnew">
    <table class="table table-striped">
      <thead>
        <tr class="tblHead">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old/ NEW Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let a of makeListJson ; let i=index">
          <td class="ion-text-center ion-text-nowrap ">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" *ngIf ="a.tca_oldpartno ; else tcaold" (click)="gotoWhatsnewPartDetails(a)">{{a.tca_oldpartno}}</u>/<br>
           
            <ng-template #tcaold><span class="text-danger">N/A</span>
              
            </ng-template>
            <u class="text-danger" *ngIf="a.tca_newpartno" (click)="gotoWhatsnewPartDetails(a)"> {{a.tca_newpartno}}</u>
          </td>
          
          <td class=" ion-text-wrap">

            <div *ngIf="a.oem_partnumber ;else oemno">
              {{a.oem_partnumber}}
            </div>

            <ng-template #oemno>
              N/A
            </ng-template>
          </td>    
        
          <td class=" ion-text-wrap">

            <div *ngIf="a.engine ;else engineno">
              {{a.engine}}
            </div>

            <ng-template #engineno>
              N/A
            </ng-template>
          </td>

         
          <td class=" ion-text-wrap">

            <div *ngIf="a.application ;else elseEngine">
              {{a.application}}
            </div>

            <ng-template #elseEngine>
              N/A
            </ng-template>
          </td>
         
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>