<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Network</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-segment mode="md" [(ngModel)]="type" color="turbored"value="ASC"  scrollable>
    <ion-segment-button value="ASC">
      <ion-label  style="text-transform: none;">ASC</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Distributor" >
      <ion-label style="text-transform: none;">Distributor</ion-label>
    </ion-segment-button>
  
  </ion-segment>



  <div [ngSwitch]="type" style="font-size: small;">
    <div *ngSwitchCase="'Distributor'">
      <div class="p-1">
        <ion-grid >
          <ion-row>
            <ion-col size="6">
              <ng-select [items]="stateListJson" class="ngSelectFontSize" bindValue="state"  [(ngModel)]="stateModel" (change)="getCityList($event)" bindLabel="state" [searchable]="true" #selectState
                (close)="selectState.blur(); selectState.focus()" placeholder="State" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="6">
              <ng-select [items]="getCityJson" bindLabel="city"  bindValue="city"  [(ngModel)]="cityModel"  [searchable]="true" #selectCity
              (close)="selectCity.blur(); selectCity.focus()" placeholder="City" dropdownPosition="bottom">
            </ng-select>
            </ion-col>
            <ion-col size="12" class="ion-text-center" (click)="getNetworkDetails('Distributor')">
              <ion-button color="turboblue"  size="small">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf ="isDistributorList">
          <div class="divCenter" *ngIf="getDistributorListJson  as result" >
            <ion-text color="primary" *ngIf="result.length === 0">
              No Details Found
            </ion-text>
          </div>
        </div>
      
        <div class="table-responsive p-1" *ngIf="getDistributorListJson.length >0">
          <table class="table table-striped">
            <thead>
              <tr class="tblHead">
                <th class="ion-text-center">S.No</th>
                <th class="ion-text-center ion-text-nowrap">Shop Name</th>
                <th class="ion-text-center ion-text-nowrap">City</th>
                <th class="ion-text-center">Mobile No</th>
                <th class="ion-text-center">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let a of getDistributorListJson;let i=index">
                <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.shopname}}</td>
                <td class="ion-text-center ion-text-nowrap"> {{a.city}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.contactno}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.email}}</td>
              </tr>               
            </tbody>
          </table>
        </div>
      
      </div>
    </div>

    <div *ngSwitchCase="'ASC'" >
      <div class="p-1">

        
        <ion-grid >
          <ion-row>
            <ion-col size="6">
              <ng-select [items]="stateASCList" class="ngSelectFontSize" bindValue="state"  [(ngModel)]="stateModel" (change)="getCityASCList($event)" bindLabel="state" [searchable]="true" #selectState
                (close)="selectState.blur(); selectState.focus()" placeholder="State" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="6">
              <ng-select [items]="getASCCityJson" bindLabel="city" bindValue="city"  [(ngModel)]="cityModel"  [searchable]="true" #selectCity
              (close)="selectCity.blur(); selectCity.focus()" placeholder="City" dropdownPosition="bottom">
            </ng-select>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <ion-button size="small" color="turboblue" (click)="getNetworkDetails('ASC')">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div *ngIf ="isAscList">
          <div class="divCenter" *ngIf="getASCListJson  as result" >
            <ion-text color="primary" *ngIf="result.length === 0">
              No Details Found
            </ion-text>
          </div>
        </div>

        <div class="table-responsive p-1" *ngIf="getASCListJson.length > 0">
          <table class="table table-striped">
            <thead>
              <tr class="tblHead" > 
                <th class="ion-text-center">S.No</th>
                <th class="ion-text-center ion-text-nowrap">Shop Name</th>
                <th class="ion-text-center ion-text-nowrap">City</th>
                <th class="ion-text-center">Mobile No</th>
                <th class="ion-text-center">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let a of getASCListJson ; let i=index">
                <td class="ion-text-center ion-text-nowrap" >{{i+1}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.shopname}}</td>
                <td class="ion-text-center ion-text-nowrap"> {{a.city}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.contactno}}</td>
                <td class="ion-text-center ion-text-nowrap">{{a.email}}</td>
              </tr>               
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>



</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>