* {
  font-family: "Nunito Sans";
}
ion-header ion-toolbar:first-of-type {
  padding-top: 0;
}

.texttransform {
  text-transform: lowercase;
}

.labelsize {
  font-size: 14px !important;
}
.divCenter {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.datacenter {
  justify-content: center;
  display: flex;
  align-items: center;
}
.alertclass {
  --height: 50%;
  padding: 50px;
  --border-radius: 5px;
}
.arrowblue {
  color: #004d89;
}
.tblHead {
  background-color: var(--ion-color-turboblue);
  color: var(--ion-color-light);
  font-size: small;
}
.ngSelectFontSize {
  font-size: 10px;
}
ion-label {
  font-size: 14px;
}
ion-title {
  font-size: 14px;
}
.transparent-modal {
  .modal-wrapper {
    --background: rgba(44, 39, 45, 0.2);
  }
}

ion-text {
  font-size: 14px;
}

textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
ion-select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
