<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Search Kit No</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-1">
    <input type="text" placeholder="Enter Kit No" [(ngModel)]="getSearchNo" class="form-control">
    <div class="pt-2 ion-text-center">
      <ion-button size="small" color="turboblue" (click)="searchPartNo()">
        Search
      </ion-button>
    </div>
  </div>

  <div class="table-responsive p-1" *ngIf="isSearchPartNotable">
    <table class="table ">
      <thead>
        <tr class="tblHead">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old /New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center ion-text-nowrap">Engine </th>
          <th class="ion-text-center ion-text-nowrap">Application </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of searchPartNoJson;let i =index">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">

            <span *ngIf="a.tca_oldpartno">
              <u class="text-danger" (click)="gotoPartDetails(a)">{{a.tca_oldpartno}} /<br>
              </u>
            </span>

            <span *ngIf="a.tca_newpartno">
              <u class="text-danger" (click)="gotoPartDetails(a)">{{a.tca_newpartno}} </u>
            </span>


          </td>

          <td class="ion-text-center ion-text-nowrap">

            <span *ngIf="a.oem_partnumber">
              {{a.oem_partnumber}}
            </span>


          </td>



          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.engine">
              {{a.engine}}
            </span>
          </td>

          <td class="ion-text-center ion-text-nowrap">

            <span *ngIf="a.application">
              {{a.application}}
            </span>

          </td>

        </tr>
      </tbody>
    </table>
  </div>
</ion-content>



<ion-footer>
  <app-footer></app-footer>
</ion-footer>