<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
  
         <div class="ion-text-center"> 
            <img src="../assets/images/Header-2.png">
         </div>

        <ion-list id="inbox-list">
          
         <!-- <ion-list-header style="color:  #00589c;">{{UserDetail.username}}</ion-list-header>   -->
       
         <!-- <ion-note class="pt-3">{{UserDetail.email}}</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" (click)="checkLogin(p.url,p.title)" lines="full" detail="false" routerLinkActive="selected" detail>
              <ion-icon slot="start" color="turboblue" [ios]="p.icon + '-sharp'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-item (click)="logoutFn()" lines="full" detail>
            <ion-icon slot="start" color="turboblue" name="log-out-sharp"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item> -->
        </ion-list>

      </ion-content>
      <ion-footer class="ion-no-border text-center">
        <ion-text color="primary">Version 1.0.15</ion-text>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
