<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<ion-grid class="ion-no-padding">

  <ion-row>
    <ion-col size="6" routerLink="/editprofile">
       <ion-card mode="md" >
           <div class="ion-text-center pt-4">
           <img src="../../../assets/images/EditProfile.png"> 
           </div>
           <div class="ion-text-center pt-2">
            <ion-text>Edit Profile</ion-text>
           </div>
       </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="md" >
        <div class="ion-text-center pt-4">
        <img src="../../../assets/images/AppVersion.png"> 
        </div>
        <div class="ion-text-center pt-2">
          <ion-text>App Version(1.0.0) </ion-text>
         </div>
    </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>
     


</ion-content>
