<ion-header class="ion-no-border">
  <img src="../../../assets/images/Header-2.png">
</ion-header>



<ion-content class="ion-no-padding">

  <div class="ion-text-center pt-3">
    <ion-text color="light"><b>REGISTER</b></ion-text>
  </div>

  <ion-card>

    <div class="pt-2">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="10" class="ion-text-end text-danger">User Registration Guide</ion-col>
          <ion-col size="2" class="ion-text-start ps-1">
            <ion-badge color="danger" (click)="openPdf('../../../assets/UserRegistrationGuide.pdf')" size="small">
              <i class="fa fa-file-pdf-o"></i>
            </ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>



    <form [formGroup]="turboregisterform">
      <div class="innercard">

        <div class="px-3 py-2">
          <ion-input class="form-control px-2" (ionChange)="mobileNoOnChange($event)" formControlName="mobno"
            inputmode="numeric" placeholder="Mobile No  *"></ion-input>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('mobno').hasError('required') && turboregisterform.get('mobno').touched">
            <span class="text-danger">* Required</span>
          </div>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('mobno').hasError('minlength') && turboregisterform.get('mobno').touched">
            <span class="text-danger">* Minimum length is 10</span>
          </div>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('mobno').hasError('maxlength') && turboregisterform.get('mobno').touched">
            <span class="text-danger">* Maximum length is 10</span>
          </div>
        </div>


        <div class="px-3 py-3">
          <ion-select mode="md" class="form-control px-2 ion-text-capatalize" formControlName="usertype" okText="Okay"
            cancelText="Dismiss" placeholder="Select UserType  *">
            <ion-select-option value="ASC">TEL ASC</ion-select-option>
            <ion-select-option value="Distributor">TEL Distributor</ion-select-option>
            <ion-select-option value="TEL Employee">TEL Employee</ion-select-option>
            <ion-select-option value="End User">End User</ion-select-option>
          </ion-select>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('usertype').hasError('required') && turboregisterform.get('usertype').touched  ">
            <span class="text-danger">* Required</span>
          </div>
        </div>


        <div class="px-3 py-2">
          <ion-input class="form-control px-2" formControlName="name" placeholder="Name  *"></ion-input>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('name').hasError('required') && turboregisterform.get('name').touched">
            <span class="text-danger">* Required</span>
          </div>
        </div>

        <div class="px-3 py-2">
          <ion-input class="form-control px-2" formControlName="email" inputmode="email" placeholder="Email  *"></ion-input>
          <div class="pt-2 px-1"
            *ngIf="turboregisterform.get('email').hasError('required') && turboregisterform.get('email').touched">
            <span class="text-danger">* Required</span>
          </div>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('email').hasError('pattern') && turboregisterform.get('email').touched">
            <span class="text-danger">* Invalid email address</span>
          </div>
        </div>

        <div class="px-3 py-2">
          <!-- <ion-input class="form-control px-2" formControlName="state" placeholder="State  *"></ion-input> -->
          <ion-select mode="md" class="form-control px-2 ion-text-capatalize" okText="Okay" cancelText="Dismiss"
            placeholder="Select State *" formControlName="state">
            <ion-select-option *ngFor="let a of stateListJson" [value]="a.name">{{a.name}}</ion-select-option>
          </ion-select>

          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('state').hasError('required') && turboregisterform.get('state').touched">
            <span class="text-danger">* Required</span>
          </div>
        </div>


        <div class="px-3 py-2">
          <ion-input formControlName="city" class="form-control px-2" placeholder="City  *"></ion-input>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('city').hasError('required') && turboregisterform.get('city').touched">
            <span class="text-danger">* Required</span>
          </div>
        </div>


        <div class="px-3 py-2">
          <ion-input class="form-control px-2" formControlName="pincode" maxlength="6" minlength="6" inputmode="numeric" placeholder="Pincode  *">
          </ion-input>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('pincode').hasError('required') && turboregisterform.get('pincode').touched">
            <span class="text-danger">* Required</span>
          </div>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('pincode').hasError('minlength') && turboregisterform.get('pincode').touched">
            <span class="text-danger">* Minimum length is 6</span>
          </div>
          <div class="pt-1 px-1"
            *ngIf="turboregisterform.get('pincode').hasError('maxlength') && turboregisterform.get('pincode').touched">
            <span class="text-danger">* Maximum length is 6</span>
          </div>
        </div>

        <div class="ion-text-center pt-1" *ngIf="enableOTP">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length: 4, allowNumbersOnly: true}">
          </ng-otp-input>
        </div>

        <div class="py-2 px-2">
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="ion-text-end px-2" *ngIf="isGenerateOTPBtn">
                <ion-button [disabled]="!turboregisterform.valid" expand="full"
                  (click)="generateOtp(turboregisterform.value)" color="turboblue"
                  class="ion-text-capitalize ion-text-center" size="small">{{otpBtnString}}</ion-button>
              </ion-col>
              <ion-col [size]="isGenerateOTPBtn ? '6': '12'">
                <ion-button [disabled]="isEnableBtn " expand="full" color="turboblue" size="small"
                  (click)="registerSubmit(turboregisterform.value)" class="ion-text-capitalize ion-text-center">Register
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </form>
  </ion-card>

</ion-content>

<ion-footer>
  <div style="background-color: #00589c;">
    <img src="../../../assets/images/inner-footer.png">
  </div>
</ion-footer>