// .registertext{
//     margin-top: 10px;
// }
ion-content {
    --background: var(--ion-color-turbo);
}
ion-card{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    --background:var(--ion-color-cardbackground) ;
  

}


.innercard{
    margin-left: 10px;
    margin-right: 10px;
}
ion-input,ion-select{
    --background:var(--ion-color-tubowhite) ;
    height: 35px;
    font-size: small;
    
}





