<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/makesubsegment"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Application</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="px-2 pt-2">
    <ion-text color="danger" class="headertext labelsize">
      {{getMakeName}}
    </ion-text> >
    <ion-text color="danger" class="headertext labelsize">
      {{getSegmentName}}
    </ion-text> >
    <ion-text color="danger" class="headertext labelsize">
      {{getSubSegmentName}}
    </ion-text>
  </div>

  <div class="table-responsive p-1 pt-2" style="font-size: 14px;" *ngIf="isMakeTable">
    <table class="table table-striped ">
      <thead>
        <tr style="background-color: #00589c;color: white;">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>
          <th class="ion-text-center">Mrp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of makeApplicationtJson ;let i= index ">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.oldpartno">
              <u class="text-danger" (click)="gotoPartDetails(a)">
                {{a.oldpartno}}
              </u> /
              <br>
            </span>
            <span *ngIf="a.newpartno">
              <u class="text-danger" (click)="gotoPartDetails(a)">
                {{a.newpartno}}
              </u>
            </span>
          </td>

          <td class=" ion-text-wrap">

            <div *ngIf="a.oempartno ;else oempartno">
              {{a.oempartno}}
            </div>

            <ng-template #oempartno>
              N/A
            </ng-template>
          </td>

          <td class=" ion-text-wrap">

            <div *ngIf="a.engine ;else elseEngine">
              {{a.engine}}
            </div>

            <ng-template #elseEngine>
              N/A
            </ng-template>
          </td>
          <td class=" ion-text-wrap">
            <div *ngIf="a.engine ;else elseApplication">
              {{a.application}}
            </div>

            <ng-template #elseApplication>
              N/A
            </ng-template>
          </td>
          <td class="ion-text-nowrap">
            <span *ngIf="a.mrp">
              ₹ {{a.mrp | number :'1.0-0'}}
            </span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>


</ion-content>




<ion-footer>
  <app-footer></app-footer>

</ion-footer>