<ion-header class="ion-no-border">
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Make</ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios" [(ngModel)]="ngSearchTerm" placeholder="Search"></ion-searchbar>
</ion-header>

<ion-content>
  <div class="divCenter" *ngIf="makeListJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>

  <ion-list mode="md" lines="full" style="font-size: 10px;">
    <ion-item *ngFor="let m of makeListJson | filter : ngSearchTerm;" (click)="gotoMakeSegment(m.make)">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap">{{m.make}}</ion-label>
    </ion-item>
    <!-- <div class="datacenter" *ngIf="(makeListJson |filter:ngSearchTerm) as result">
      <ion-text color="turboblue" *ngIf="result.length === 0">No Data Found</ion-text>
  </div> -->
  </ion-list>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>