<ion-header>
  <ion-toolbar>
    <img src="../../../assets/images/Header-2.png">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="divCenter">
    <ion-text class="ion-text-wrap" color="turboblue">{{alertName}}</ion-text>
    <div class="pt-2">
      <ion-button color="turboblue" size="small" mode="md" class="ion-text-capitalize" (click)="okay(alertName)">Okay
      </ion-button>
    </div>    
  </div>
  
</ion-content>