<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end" (click)="close()">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="divCenter" *ngIf="isShow">
    <ion-spinner name="bubbles" size="large" color="primary"></ion-spinner>
  </div>

  <div class="pdf-container">
    <pdf-viewer [src]="url" [render-text]="true" [original-size]="false" [zoom]="pdfZoom" [fit-to-page]="true"
      (on-progress)="onProgress($event)">
    </pdf-viewer>
  </div>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-text-center">
        <ion-col size="4">
          <ion-button size="small" color="turboblue" shape="round" (click)="zoomOut()">
            Zoom Out
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" color="danger" shape="round" (click)="resetZoom()">
            Reset
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" color="turboblue" shape="round" (click)="zoomIn()">
            Zoom In
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>