<ion-header>
   <ion-toolbar>
      <img src="../../../assets/images/Header-2.png">
   </ion-toolbar>
</ion-header>
<ion-content>
   <!-- <form [formGroup]="forgotPwdForm" >
    
      <div class="form-group">
          <label for="email">Enter Email Or Mobile</label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter Email Or Mobile">
          <div *ngIf="forgotPwdForm.controls.email.touched && forgotPwdForm.controls.email.errors?.required">
        * Required
     </div>
  
      </div>
      <ion-button color="turboblue" size="small" (click)="onFormSubmit()">Submit</button>
  </form> -->
   <div style="background-color: #EEF4F5;">
      <div class="pt-3 px-4 ">
         <ion-input class="form-control px-2" [(ngModel)]="ngMail" style="font-size: small;" placeholder="Enter your Mail or MobileNo">
         </ion-input>
      </div>

      <div class="ion-text-center pt-3 pb-2">
         <ion-button color="turboblue" class="ion-text-capitalize" size="small" (click)="submit()">Submit</ion-button>
      </div>
   </div>
</ion-content>