<ion-header class="ion-no-border">
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Price List</ion-title>
  </ion-toolbar>
  <div class="px-1 pt-1">
    <input type="text" placeholder="Enter Part No" [(ngModel)]="getSearchNo" class="form-control">
    <div class="pt-1 ion-text-center">
      <ion-button size="small" color="turboblue" (click)="searchPartNo()">
        Search
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content>



  <div *ngIf="isPriceListTable" class="table-responsive p-1" style="font-size: small;">
    <table class="table table-striped">
      <thead>
        <tr style="background-color: #00589c;color: white;">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center">Description</th>

          <th class="ion-text-center ion-text-nowrap" *ngIf="isSalesPrice">Sale Price</th>
          <th class="ion-text-center">MRP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of getPriceListJson;let i=index">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <!-- <td class="ion-text-center ion-text-nowrap">
            <u *ngIf="a.oldpartno ; else noold"> {{a.oldpartno}}</u> /<br>
            <ng-template #noold>N/A </ng-template>
            <u *ngIf="a.newpartno"> {{a.newpartno}}</u>
          </td> -->
          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.oldpartno">
              {{a.oldpartno}}
              /
              <br>
            </span>
            <span *ngIf="a.newpartno">
              {{a.newpartno}}
            </span>

          </td>

          <td class="ion-text-nowrap">{{a.description}}</td>
          <td class="ion-text-center ion-text-nowrap" *ngIf="isSalesPrice"> ₹{{a.listprice | number :'1.0-0'}}</td>
          <td class="ion-text-end ion-text-nowrap"> ₹ {{a.mrp | number :'1.0-0'}}</td>

        </tr>

      </tbody>
    </table>
  </div>
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>