<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/remanmake"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title> Application</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="px-2 pt-2" >
    <ion-text color="danger" class="headertext labelsize">
     {{getMake}}
    </ion-text> >
    <ion-text color="danger" class="headertext labelsize">
      {{getSegment}}
    </ion-text> >
    <ion-text color="danger" class="headertext labelsize">
      {{getSubSegment}}
    </ion-text>
  </div>

  <div class=" px-2">
    <ion-card mode="md"*ngFor="let a of makeApplicationtJson" style="background-color: #EEF4F5;">
     
      <ion-grid style="font-size: 14px;">

        <ion-row>
          <ion-col size="5.5">Old Part No</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5.5"  *ngIf ="a.tca_oldpartno ; else oldPartNo">{{a.tca_oldpartno}}</ion-col>
          <ng-template #oldPartNo>
               N/A
          </ng-template>
        </ion-row>

        <ion-row >
          <ion-col size="5.5">New Part No</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5.5" *ngIf ="a.tca_newpartno ; else newPartNo">{{a.tca_newpartno}}</ion-col>
          <ng-template #newPartNo>
            N/A
       </ng-template>
        </ion-row>

        <ion-row *ngIf ="isOem">
          <ion-col size="5.5">OEM Part No</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5.5" *ngIf ="a.oem_partnumber ; else oemno">{{a.oem_partnumber}}</ion-col>
          <ng-template #oemno> N/A</ng-template>
        </ion-row>


        <ion-row *ngIf ="isModel">
          <ion-col size="5.5">Model</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5.5" *ngIf="a.tc_model ; else modelno">{{a.tc_model}}</ion-col>
          <ng-template #modelno> N/A</ng-template>
        </ion-row>

        


    
      </ion-grid>

    </ion-card>
</div>
</ion-content>
