<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/segment"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Sub Segment</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="px-2 text-center">
    <ion-text color="danger" class="headertext labelsize">
    {{getSegmentName}}
    </ion-text>
  
  </div>

  <div class="divCenter" *ngIf="getSubSegmentJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>


  <ion-list mode="md" lines="full">
    <ion-item *ngFor="let s of getSubSegmentJson"  (click)="gotoSegmentMake(s.subsegment)">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label style="font-size: 14px;">{{s.subsegment}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <app-footer></app-footer>

</ion-footer>