<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Segment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="divCenter" *ngIf="segmentListJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>

  <ion-list mode="md" lines="full" >
    <ion-item *ngFor="let s of segmentListJson"  (click)="gotoSubSegment(s.segment)">
      <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>
      <ion-label class="labelsize ion-text-wrap">{{s.segment}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <app-footer></app-footer>

</ion-footer>