<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/allmakeoemname"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-2 pt-2 text-center labelsize">
    <ion-text color="danger" class="headertext">
      {{makeName }}
    </ion-text>
  </div>


  <div class="table-responsive p-1 pt-2" style="font-size: 13px;" *ngIf="isPricelist">
    <table class="table table-striped ">
      <thead>
        <tr style="background-color: #00589c;color: white;">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">Engine / ( Application )</th>
          <th class="ion-text-center ion-text-nowrap" *ngIf='isDesc'>Sale Price</th>
          <th class="ion-text-center">Mrp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i= index ; let a of oemListJson">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.oldpartno">
              {{a.oldpartno}}
              /
              <br>
            </span>
            <span *ngIf="a.newpartno">
              {{a.newpartno}}
            </span>

          </td>

          <td class=" ion-text-nowrap">
            <span *ngIf="a.description">
              {{a.description}}
            </span>
          </td>

          <td class="ion-text-wrap text-center" *ngIf="isDesc">

            <span *ngIf="a.listprice">
              ₹ {{a.listprice | number :'1.0-0'}}
            </span>

            <ng-template #elseEngine>
              N/A
            </ng-template>
          </td>

          <td class="ion-text-nowrap text-center">
            <span *ngIf="a.mrp">
              ₹ {{a.mrp | number :'1.0-0'}}
            </span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>



  <!-- <div class="pt-2 px-4"  style="font-size: 14px">

      <div class=" px-2">
          <ion-card mode="md" style="background-color: #EEF4F5; ">
           
            <ion-grid style="font-size: 14px;">

              <ion-row >
                <ion-col  size="5.5">Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5" *ngIf="getoldpartno ; else oldPartNo">{{getoldpartno}}</ion-col>
                <ng-template #oldPartNo>
                    N/A
                </ng-template>
              </ion-row> 
              
              <ion-row >
                <ion-col size="5.5">New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5" *ngIf="getnewpartno ; else newPartNo">{{getnewpartno}}</ion-col>
                <ng-template #newPartNo>
                  N/A
              </ng-template>
              </ion-row>
              <ion-row *ngIf="isPricelist">
                <ion-col size="5.5">Sale Price</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">  ₹{{listprice}}</ion-col>
              </ion-row>
              <ion-row *ngIf="isDesc">
                <ion-col size="5.5">Description</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5.5">{{description}}</ion-col>
              </ion-row>
           
            </ion-grid>

          </ion-card>
      </div>
   
  </div>
   -->
</ion-content>


<ion-footer>
  <app-footer></app-footer>

</ion-footer>