ion-slides {
    --bullet-background-active: var(--ion-color-danger);
}
.icons{
    height: 7vh;
}

ion-card {
    height: 16vh;
    width: 90%;
}



.images{
    height: 100px;
    width: 100%;
     
}
ion-text{
    font-size: 12px;
}
ion-searchbar{
    --icon-color:#004d89;
    --border-radius:10px;
    --background:white;
    --clear-button-color:red;
    font-size: small;
}