<ion-header class="ion-no-border">
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-slides class="pt-2" mode="ios" pager="true" [options]="slidesOptions">

    <ion-slide>
      <img class="images" src="../../../assets/images/Peaceofmind.png">
    </ion-slide>
    <ion-slide>
      <img class="images" src="../../../assets/images/Warranty.png">
    </ion-slide>
    <ion-slide>
      <img class="images" src="../../../assets/images/GeniuneParts.png">
    </ion-slide>
  </ion-slides>

  <ion-grid class="ion-no-padding" style="background-color: white;">


    <ion-row>
      <ion-col [size]="isKitNo ? '6'  : '12'" (click)="checkLogin('searchpartno')">
        <div [ngClass]="isKitNo ? 'ion-text-center' : 'ion-text-center' ">
          <ion-chip color="primary" outline="true">
            <ion-icon name="search-outline" color="primary"></ion-icon>
            <ion-text color="primary">
              Search By Tc Part No
            </ion-text>
          </ion-chip>
        </div>
      </ion-col>

      <ion-col *ngIf="isKitNo" size="6" (click)="checkLogin('searchkitno')">
        <div class="ion-text-center pt-2">
          <ion-chip color="primary" outline="true">
            <ion-icon name="search-outline" color="primary"></ion-icon>
            <ion-text color="primary">
              {{kitName}}
            </ion-text>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" (click)="checkLogin('product')">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/product catalogue-icon.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>Product Catalogue</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" (click)="checkLogin('remanmake')">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/remanufacturing.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>Reman</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" (click)="checkLogin('allmakeoemname')">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/allmake.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>All Make</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" (click)="checkLogin('pricelists')">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/price list-icon.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>Price List</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" (click)="checkLogin('network')">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/network-icon.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>Network</ion-text>
        </div>
      </ion-col>


      <ion-col size="4" routerLink="/contactus">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/contact-icon.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>Contact</ion-text>
        </div>
      </ion-col>

      <ion-col size="4" routerLink="/whatsnew">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/new-icon.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>What's New</ion-text>
        </div>
      </ion-col>


      <ion-col size="4" routerLink="/notification">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/notification-icon.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>Notification</ion-text>
        </div>
      </ion-col>


      <ion-col size="4" routerLink="/vidoepdf">
        <div class="ion-text-center pt-3">
          <img class="icons" src="../../../assets/images/video-icon.png">
        </div>
        <div class="ion-text-center pt-2 px-1">
          <ion-text>Video/PDF</ion-text>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>