<ion-header>
  <app-header1></app-header1>
  <ion-toolbar color="turboblue">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/vidoepdf"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Vidoes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="divCenter" *ngIf="getVideoJson  as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>

  <ion-list class="ion-no-padding">
    <div *ngFor ="let a of getVideoJson">
      <ion-card mode="md" >
        <ion-item  (click)="videoFn(a.url)">
          <i class="fa fa-chevron-right arrowblue" slot="end" aria-hidden="true"></i>

          <ion-label>{{a.title}}</ion-label>
          <ion-icon slot="start" color="turboblue" name="logo-youtube"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
    </ion-list>
</ion-content>



<ion-footer>
  <app-footer></app-footer>

</ion-footer>